    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2025 CaloBurn.</p>
          </div>
          <div class="col-md-6 text-md-end">
            <a href="#" class="text-white me-2"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="#" class="text-white me-2"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="#" class="text-white me-2"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="#" class="text-white me-2"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>